<div class="row">
    <div class="col-6 offset-3">
        <h1>Kvadrat Areal/Omkreds Beregner</h1>
    </div>
</div>

<div class="row">
  <div class="col-6 offset-3">
    <div class="form-group">
      <label for="sidelength">Side længde:</label>
      <input
        class="form-control"
        type="number"
        name="sidelength"
        id="sidelength"
        [value]="sidelength"
        (input)="sidelength = $event.target.value"
        (change)="calculateAreaHandler()"
      />
    </div>
    <!-- <button
      class="btn btn-primary btn-block"
      (click)="calculateAreaHandler()"
      type="submit"
    >
      Beregn Areal & Omkreds
    </button> -->
  </div>
</div>

<div class="row">
  <div class="col-6 offset-3">
    <!-- <div *ngIf="calculatedArea > 0 && calculatedCircumference > 0"> -->
      <p>Calculated Area: {{ calculatedArea }}</p> 
      <p>Calculated Circumference: {{ calculatedCircumference }}</p>
    <!-- </div> -->
  </div>
</div>
