<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="home">Nicky (Geometry)</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" routerLink="trapez" tabindex="-1" aria-disabled="true">Trapez</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" routerLink="parallelogram" tabindex="-1" aria-disabled="true">Parallelogram</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="quadrant">Quadrant</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="rectangle">Rectangle</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>